.game-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.card {
  position: relative;
}

.card-front,
.card-back {
  width: 10vw;
  height: 15vh;
}

.card-back {
  position: absolute;
  background-color: black;
  color: white;
}