.groceryStore h1 {
  text-align: center;
}

.groceryStore .products {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.productCard {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.productCard:hover {
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.product {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35vh;
  justify-content: space-evenly;
}

.product .cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.product .cardMedia {
  width: 40%;
  height: 40%;
}

.product .name {
  font-weight: bold;
  font-size: 20px;
  word-wrap: break-word;
  text-align: center;
}

.product .amount {
  font-size: 15px;
  text-align: center;
}

.product .price {
  font-size: 20px;
  margin-bottom: 30%;
  font-weight: bold;
  text-align: center;
}


@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 600px) {
  .groceryStore .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  .groceryStore .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 992px) {
  .groceryStore .products {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
}
